*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

:root{
    --clr-primary: rgb(253, 81, 81);
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8b6b6;
}

.background-clip-cover{
    height: 28%;
    width: calc(50% - 3px);
    background-color: #f3f3f3;
    position: absolute;
    top: 2%;
}

.pokedex{
    display: flex;
    width: 50%;
    height: 70%;
    border-radius: 3%;
    overflow: hidden;
    position: relative;
}



.pokedex-left{
    width: 50%;
    border-right: 3px solid black;
}

.pokedex-left__top{
    height: 30%;
    background-color: black;
    position: relative;
    clip-path: polygon(0 1%, 100% 0, 100% 62%, 76% 62%, 48% 100%, 0 100%);
}

.pokedex-left__top:before{
    content: '';
    height: 98%;
    background-color: var(--clr-primary);
    display: block;
    clip-path: polygon(0 1%, 100% 0, 100% 62%, 76% 62%, 48% 100%, 0 100%);
}


.blue-circle{
    background-color: aqua;
    width: 20%;
    height: auto;
    padding-top: 20%;
    position: absolute;
    top: 15%;
    left: 5%;
    border-radius: 50%;
    box-shadow: 0 0 0 1px black, 0 0 0 4px white, 0 0 0 5px black;
}

.red-circle{
    background-color: red;
    width: 5%;
    height: auto;
    padding-top: 5%;
    position: absolute;
    top: 25%;
    right: 20%;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px black;
}

.yellow-circle{
    background-color: yellow;
    width: 5%;
    height: auto;
    padding-top: 5%;
    position: absolute;
    top: 25%;
    right: 12%;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px black;
}

.green-circle{
    background-color: green;
    width: 5%;
    height: auto;
    padding-top: 5%;
    position: absolute;
    top: 25%;
    right: 4%;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px black;
}

.pokedex-left__middle{
    height: 50%;
    background-color: #f3f3f3;
}

.pokemon-list{
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    line-height: 1.3;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.pokemon{
    border-bottom: 1px dotted black;
}

.pokemon:hover{
    color: var(--clr-primary);
}



.pokedex-left__bottom{
    height: 20%;
    background-color: var(--clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
}

.pagination-container{
    width: 90%;
    height: 70%;
    background-color: aqua;
    box-shadow: 0 0 0 2px black, 0 0 0 8px white, 0 0 0 10px black;
    border-radius: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pagination-container button{
    padding: 10px;
    font-size: 1rem;
    background-color: var(--clr-primary);
    color: white;
}

.pagination-container button:hover{
    background: rgba(253, 81, 81, 0.8);
}

.fa-arrow-left, .fa-arrow-right{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.3rem;
}

.pokedex-right{ 
    width: 50%;  
}

.pokedex-right__top{
    background-color: var(--clr-primary);
    height: 18.6%;
    border-bottom: 3px solid black;
}

.pokedex-right__middle{
    height: 51.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f4f4f4;
}

.small-red-circle-1{
    background-color: var(--clr-primary);
    width: 3%;
    height: auto;
    padding-top: 3%;
    position: absolute;
    top: 7%;
    left: 43%;
    border-radius: 50%;
    box-shadow: inset 0 0 5px 0px black;
}

.small-red-circle-2{
    background-color: var(--clr-primary);
    width: 3%;
    height: auto;
    padding-top: 3%;
    position: absolute;
    top: 7%;
    right: 43%;
    border-radius: 50%;
    box-shadow: inset 0 0 5px 0px black;
}

.large-red-circle{
    background-color: var(--clr-primary);
    width: 5%;
    height: auto;
    padding-top: 5%;
    position: absolute;
    bottom: 7%;
    left: 20%;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px black;
}

.hamburger-icon-1{
    background-color: #444;
    width: 10%;
    height: 2%;
    position: absolute;
    bottom: 7%;
    right: 20%;
    border-radius: 9999em;

}

.hamburger-icon-2{
    background-color: #444;
    width: 10%;
    height: 2%;
    position: absolute;
    bottom: 10%;
    right: 20%;
    border-radius: 9999em;
}

.hamburger-icon-3{
    background-color: #444;
    width: 10%;
    height: 2%;
    position: absolute;
    bottom: 13%;
    right: 20%;
    border-radius: 9999em;
}



.picture-container {
    background-color: rgb(24, 194, 194);
    height: 60%;
    width: 60%;
    box-shadow: inset 0 0 10px 0px black;
    display: flex;
    align-items: center;
    justify-content: center;
}    

.picture{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.picture p{
    font-size: 1.2rem
}

.picture img{
    height: 83%;
    width: auto;
}

.type-container{
    height: 83%;
    width: 80%;
    padding: 10%;
}

.picture span{
    text-transform: capitalize;
}

.pokedex-right__bottom{
    background-color: var(--clr-primary);
    height: 30%;
}

.searchbar{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar input{
    font-size: 1.1rem;
    background-color: rgb(24, 194, 194);
    border-radius: 9999em;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    text-align: center;
}

.fake-buttons-container{
    height: 70%;
    position: relative;
}

.black-circle{
    background-color: #444;
    width: 10%;
    height: auto;
    padding-top: 10%;
    position: absolute;
    top: 7%;
    left: 10%;
    border-radius: 50%;
    box-shadow:  3px 3px 5px 0px black;
}

.red-rectangle{
    background-color: rgb(204, 21, 21);
    width: 12%;
    height: 5%;
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: 9999em;
    box-shadow: 1px 2px 2px 0px black;
}

.blue-rectangle{
    background-color: rgb(32, 32, 202);
    width: 12%;
    height: 5%;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 9999em;
    box-shadow: 1px 2px 2px 0px black;
}

.dpad-center{
    width: 5%;
    height: 15.24%;
    position: absolute;
    background-color: #444;
    right: 15%;
    top: 30%;
    box-shadow: 3px 3px 5px 0px black;
}

.dpad-top{
    width: 5%;
    height: 30.48%;
    position: absolute;
    background-color: #333;
    right: 15%;
    top: 30%;
    transform: translateY(-98%);
    border: none;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.dpad-top:active{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.dpad-bottom{
    width: 5%;
    height: 30.48%;
    position: absolute;
    background-color: #333;
    right: 15%;
    top: 30%;
    transform: translateY(48%);
    border: none;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 2px 2px 2px 0px black;
}

.dpad-bottom:active{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 0 0 black;
}

.dpad-right{
    width: 10%;
    height: 15.24%;
    position: absolute;
    background-color: #333;
    right: 15%;
    top: 30%;
    transform: translateX(98%);
    border: none;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 2px 2px 2px 0px black;
}

.dpad-right:active{  
    border-top: 1px solid grey;
    border-left: none;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 0 0 black;

}

.dpad-left{
    width: 10%;
    height: 15.24%;
    position: absolute;
    background-color: #333;
    right: 15%;
    top: 30%;
    transform: translateX(-48%);
    border: none;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.dpad-left:active{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: none;
    border-bottom: 1px solid grey;

}

@media only screen and (max-width: 1200px) {
    .pokedex{
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .pokedex{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .pokedex-left{
        display: none;
    }

    .pokedex-right{
        width: 100%;
        height: 90%;
    }

    .pokedex{
        height: 100%;
    }
}











